<!-- Mobile Menu -->
<div class="relative w-full xl:hidden">
  <div id="overlay" class="invisible fixed right-0 top-0 z-[32] h-screen w-0 bg-black bg-opacity-60 duration-700 ease-in-out"></div>
  <nav class="fixed top-0 z-[31] w-full bg-[#005909] shadow-lg xl:hidden">
    <div class="container relative flex items-center justify-between px-3 py-3 md:py-5">
      <a href="index.html">
        <img src="./assets/images/logo-1.png" width="172" height="47" alt="logo" />
      </a>
      <button id="menuToggle" class="cursor-pointer p-2 xl:hidden">
        <i class="ph ph-list text-[24px] text-h1Primary2" style="font-size: 30px"></i>
      </button>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobileMenu" class="fixed left-0 top-0 z-[33] h-screen w-full max-w-[350px] -translate-x-[120%] overflow-y-auto bg-light pb-4 shadow-2xl duration-700 ease-in-out xl:hidden">
    <div class="flex items-center justify-between px-6 py-4">
      <img src="./assets/images/logo-2.png" width="172" height="47" alt="logo" />
      <button id="closeMenu" aria-label="mobile menu close" class="cursor-pointer text-n2">
        <i class="ph ph-x text-[24px]"></i>
      </button>
    </div>
    <ul class="px-3">
      <!-- Home -->
      <li class="w-full">
        <button class="flex w-full items-center justify-between px-3 py-2 text-n2">
          <span class="text-lg">Home</span>
          <i class="ph ph-plus text-[24px]"></i>
        </button>
        <ul class="submenu" style="display: none">
          <li><a href="/" class="inline-flex w-full px-5 py-2 text-n2">- Home 1</a></li>
          <li><a href="home-2.html" class="inline-flex w-full px-5 py-2 text-n2">- Home 2</a></li>
          <li><a href="home-3.html" class="inline-flex w-full px-5 py-2 text-n2">- Home 3</a></li>
        </ul>
      </li>

      <li class="w-full">
        <a href="#how-to-buy" class="inline-flex px-3 py-2 text-n2">How To Buy</a>
      </li>
      <li class="w-full">
        <a href="#about" class="inline-flex px-3 py-2 text-n2">About</a>
      </li>
      <li class="w-full">
        <a href="#tokenomics" class="inline-flex px-3 py-2 text-n2">Tokenomics</a>
      </li>
      <li class="w-full">
        <a href="#roadmap" class="inline-flex px-3 py-2 text-n2">Roadmap</a>
      </li>
      <li class="w-full">
        <a href="#contact" class="inline-flex px-3 py-2 text-n2">Contact</a>
      </li>
    </ul>
  </div>
</div>
