<!-- Desktop Navbar -->
<div class="desktop-nav theme-transition-3 fixed top-0 z-50 w-full">
  <div class="transition-primary theme-transition-3 container hidden w-full items-center justify-between spy24px xl:flex">
    <div>
      <a href="index.html">
        <img src="./assets/images/logo.png" alt="Desktop Logo" />
      </a>
    </div>

    <!-- Menu Items  start-->
    <div class="relative flex items-center justify-between gap-10">
      <a href="index.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Home</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="mission.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Mission</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="plan.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Plan</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="features.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Features</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="affiliate.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Affiliate</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="faqs.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>FAQs</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
      <a href="contact.html" class="l-text single-menu navbar-hover-text theme-transition-3 text-light-green-400 hover:text-yellow-300 group relative z-10 flex cursor-pointer items-center justify-between gap-1">
        <span>Contact</span>
        <img src="./assets/images/menu-underline.png" alt="Menu underline" class="absolute -bottom-3 w-full opacity-0 duration-300 group-hover:-bottom-1 group-hover:opacity-100" />
      </a>
    </div>
    <!-- Menu Items  end-->

    <div class="flex items-center justify-center gap-1">
      <select class="text-light-green-400 border-neutral-n200 rounded-full border bg-transparent p-3">
        <option>En</option>
        <option>Bn</option>
        <option>Fr</option>
      </select>
      <a href="#" class="bg-green-8 flex items-center gap-3 rounded-full py-2 pe-7 ps-2">
        <div class="bg-yellow-300 flex items-center justify-center rounded-full p-3.5">
          <i class="ph-fill ph-paper-plane-tilt text-green-10 text-[20px]"></i>
        </div>
        <span class="l-text text-neutral-n0 font-medium">Support</span>
      </a>
      <a href="#" class="bg-yellow-300 text-green-10 flex items-center justify-center rounded-full p-4 text-[28px]">
        <i class="ph ph-user"></i>
      </a>
    </div>
  </div>
</div>
<!-- Mobile Navbar -->
<div class="border-white-3/30 bg-green-9 relative top-0 z-50 w-full border-b shadow-sm backdrop-blur-2xl backdrop-brightness-100 backdrop-contrast-100">
  <div class="container left-0 top-0 flex w-full items-center justify-between py-4 xl:hidden xl:py-5">
    <!-- logo -->
    <div class="">
      <a href="index.html">
        <img src="./assets/images/logo.png" alt="Desktop Logo" class="w-32" />
      </a>
    </div>
    <div class="mobile-nav-toggle group flex h-10 w-10 cursor-pointer items-center justify-center rounded-md p-2">
      <div class="space-y-2">
        <span class="bg-yellow-300 block h-1 w-10 origin-center rounded-full transition-transform ease-in-out group-hover:translate-y-1.5 group-hover:rotate-45"> </span>
        <span class="bg-light-green-50 block h-1 w-8 origin-center rounded-full transition-transform ease-in-out group-hover:w-10 group-hover:-translate-y-1.5 group-hover:-rotate-45"> </span>
      </div>
    </div>
  </div>
  <div class="theme-transition-3 relative z-20 block xl:hidden">
    <div class="sidebar-overlay bg-yellow-300/10 fixed left-0 top-0 z-20 h-[100vh] w-full translate-x-full duration-700 xl:hidden"></div>
    <div class="menu-sidebar mobile-menu-scrollbar bg-neutral-n900 text-neutral-n0 fixed left-0 top-0 z-50 h-screen w-[350px] -translate-x-full overflow-y-auto px-8 pb-10 pt-10 font-medium opacity-0 delay-500 duration-500">
      <div class="flex items-center justify-between">
        <a href="index.html">
          <img src="./assets/images/logo.png" alt="Desktop Logo" class="w-52" />
        </a>
        <button class="theme-transition-3 mobile-menu-close-btn bg-neutral-n700 hover:text-neutral-n0 flex size-10 items-center justify-center rounded-full hover:bg-primary">
          <i class="ph ph-x text-[24px]"></i>
        </button>
      </div>
      <div class="theme-transition-6 mt-12 flex flex-col gap-4">
        <a href="index.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Home</span>
        </a>
        <a href="mission.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Mission</span>
        </a>
        <a href="plan.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Plan</span>
        </a>
        <a href="features.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Features</span>
        </a>
        <a href="affiliate.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Affiliate</span>
        </a>
        <a href="faqs.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">FAQs</span>
        </a>
        <a href="contact.html" class="single-menu theme-transition-8 border-neutral-n500 relative z-10 flex cursor-pointer items-center justify-between border-b pb-4">
          <span class="h4">Contact</span>
        </a>
      </div>
    </div>
  </div>
</div>
